/* Portfolio Filter Stylesheet */

/*****Reset*****/
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td { margin: 0; padding: 0; }

/*****Basic Definitions*****/
body { color: #333; font: 12px/18px Verdana, Helvetica, Arial, sans-serif; }
h1 { font-size: 1.667em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.333em; }
h4 { font-size: 1.167em; }
h5, h6 { font-size: 1em; }

a { color: #333; }
a:visited { }
a:hover { text-decoration: none; }
p, ul, ol, dl, table { margin-bottom: 18px; }
ul, ol, dd { margin-left: 36px; }

/*****Custom Classes*****/
.clearing { clear: both; }
.last { margin-bottom: 0; }
.screenReader { left: -9999px; position: absolute; top: -9999px; }


/*****Basic Layout*****/
div#container {
	overflow: hidden;
	width: 1050px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}



ul.portfolio { float: left; list-style: none; margin-left: 0; width: 1050px; }
li a img {
	border: thin solid #CCC;
}
ul.portfolio li { 
	border: 1px solid #ffffff; 
	float: left; 
	margin: 0 5px 5px 0; 
	padding: 5px;
	width: 310px;
}
ul.portfolio a {
	display: block;
	width: 100%;
	font-size: x-small;
	text-decoration: none;
	font-style: normal;
	text-align: left;
}
ul.portfolio a:hover { text-decoration: none; }
ul.portfolio img { display: block; padding-bottom: 5px; }

#photos {
	width: 1050px;
	margin-top: 50px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
.portfolio {
	
}
